@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin flexAlign($align,$justify,$direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}
@mixin heightWidth($height,$width){
    height: $height;
    width: $width;
}
@mixin bgColor($background-color, $color){
    background-color: $background-color;
    color: $color;
}



*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-family: "Poppins", sans-serif;
}
body{
    header{
    background-color: #ff7e00;
    @include heightWidth(10dvh,100%);

    nav{
        @include heightWidth(inherit,100%);
        @include flexAlign(center, space-between, row);
        padding: 0 2dvw;

        #logo, #login{
            height: 90%;
        }
        #login:hover{
            cursor: pointer;
        }
    }
}
}


